.tech {
    background-image: url(../../images/backgtehc.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}


.tech-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.tech-topo h1 {
    font-size: 4.5rem;
    margin-bottom: 25px;
    color: #01C38D;
    font-family: 'Times New Roman', Times, serif;
}

.tech-topo p {
    font-size: 1.3rem;
    color: azure;
}

.types {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 30%;
    margin: 100px auto;
}

.content-types {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}


.content-types h1 {
    margin-bottom: 25px;
    color: #01C38D;
}

.content-types p {
    margin-bottom: 30px;
}

.links {
    padding: 10px 75px;
    border: 1px solid #01C38D;
    border-radius: 5px;
    background-color: #01C38D;
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

.links:hover {
    background-color: #11fab8;
    color: rgb(255, 255, 255);
}